<div class="services">
  <div class="services-title">
    <h1>{{'services.our' | transloco}}</h1><h1 class="right">{{'services.services' | transloco}}</h1>
  </div>
  <div class="services-item-inner">
    <ng-container *ngFor='let service of services'>
      <div class="services-item">
        <div class="img">
          <img src="{{service.icon}}">
        </div>
        <h2>{{service.service}}</h2>
        <p>{{service.text}}</p>
      </div>
    </ng-container>
  </div>
  <button>{{'services.free' | transloco}}</button>
</div>
