<div class="header">
  <div class="container">
    <div class="left">
      <a [routerLink]="'/'"><img src="assets/images/logo.png" height="25"></a>
      <nav>
        <ng-container *ngFor='let link of navLinks'>
          <a [routerLink]="link.link" routerLinkActive="active">{{link.text}}</a>
        </ng-container>
      </nav>
      <div class="burger">
        <input type="checkbox" id='toggle'>
        <label for="toggle"></label>
        <nav>
          <ng-container *ngFor='let link of navLinks'>
            <div routerLinkActive="active">
              <a [routerLink]="link.link">{{link.text}}</a>
            </div>
          </ng-container>
        </nav>
        <div class="right">
          <a href="tel:3035550105">(303) 555-0105</a>
          <select>
            <ng-container *ngFor='let language of langSelect'>
              <option>{{language}}</option>
            </ng-container>
          </select>
        </div>
      </div>
    </div>
    <div class="right">
      <a href="tel:3035550105">(303) 555-0105</a>
      <div class="select" (click)="openDropdown()">
        <p class="selected-language">{{selectedLanguage}}</p>
        <div class="dropdown-body" [class.show-drop]="isShowDropdown" *ngIf="isShowDropdown">
          <div *ngFor="let language of langSelect" class="option" (click)="setLanguage(language)">
            <p>{{language}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
