<div class="header">
  <div class="container">
    <div class="left">
      <a [routerLink]="'/'"><img src="assets/images/logo.png" height="25"></a>
      <nav>
        <ng-container *ngFor='let link of navLinks'>
          <a [routerLink]="link.link" routerLinkActive="active">{{link.text | transloco}}</a>
        </ng-container>
      </nav>
      <div class="burger">
        <input type="checkbox" id='toggle'>
        <label for="toggle"></label>
        <nav>
          <ng-container *ngFor='let link of navLinks'>
            <div routerLinkActive="active">
              <a [routerLink]="link.link">{{link.text | transloco}}</a>
            </div>
          </ng-container>
        </nav>
        <div class="right">
          <a href="tel:3035550105">(303) 555-0105</a>
          <div class="select" (click)="openDropdown()">
            <p class="selected-language">{{ActiveLang | uppercase}}</p>
            <div class="dropdown-body" [class.show-drop]="isShowDropdown" *ngIf="isShowDropdown">
                <p class="option" (click)="setActiveLang('en')">EN</p>
                <p class="option" (click)="setActiveLang('ua')">UA</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right">
      <a href="tel:3035550105">(303) 555-0105</a>
      <div class="select" (click)="openDropdown()">
        <p class="selected-language">{{ActiveLang | uppercase}}</p>
        <div class="dropdown-body" [class.show-drop]="isShowDropdown" *ngIf="isShowDropdown">
          <div class="option" (click)="setActiveLang('en')">
            <p>EN</p>
          </div>
          <div class="option" (click)="setActiveLang('ua')">
            <p>UA</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
