.header {
  max-width: 1234px;
  height: 101px;
  margin: 0 auto;
  padding: 0 32px;

  display: flex;
  align-items: center;

  .left {
    display: flex;
    width: 50%;

    @media (max-width: 992px) {
      width: 100%;
      justify-content: space-between;
    }

    img {
      margin-right: 68px;
    }

    nav {
      display: flex;
      justify-content: space-between;
      max-width: 271px;
      width: 100%;

      @media (max-width: 992px) {
        display: none;
      }

      .active a {
        color: #D3A265;
      }

      a {
        text-decoration: none;
        font-family: Gilroy, sans-serif;
        font-size: 16px;
        line-height: 28px;
        color: #352C2C;
      }
    }

    .burger {
      margin-right: 30px;
      padding-top: 13px;
      display: none;
      position: relative;

      @media (max-width: 992px) {
        display: unset;
      }

      label {
        width: 34px;
        height: 2px;
        background: #212121;
        position: absolute;
        cursor: pointer;

        &:before,
        &:after {
          content: '';
          width: 18px;
          height: 2px;
          background: #212121;
          position: absolute;
          display: block;
        }

        &:before {
          top: -8px;
          left: 48%;
          transform-origin: left top;
          transform: rotateZ(0deg);
        }

        &:after {
          bottom: -8px;
          left: 0%;
          transform-origin: left bottom;
          transform: rotateZ(0deg);
        }
      }

      #toggle:checked ~ label {
        transition: all 0.6s ease-out;
        transform: rotateZ(41deg);
      }

      #toggle:checked ~ label:before {
        transform: rotateZ(88deg);
        top: 0;
      }

      #toggle:checked ~ label:after {
        transform: rotateZ(-90deg);
        bottom: 0;
        left: 48%;
      }

      #toggle:checked ~ label {
        background-color: black;
      }

      #toggle ~ label {
        transition: all 0.5s ease-out;
      }

      input {
        display: none;
      }

      nav {
        position: absolute;
        width: 100px;
        right: 20px;
        top: 40px;
      }

      .right {
        position: absolute;
        width: 170px;
        right: -50px;
        top: 150px;

        a {
          margin-bottom: 10px;
        }
      }

      #toggle:checked ~ nav {
        display: unset;
      }

      #toggle:checked ~ .right {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .right {
    display: flex;
    justify-content: end;
    width: 50%;

    @media (max-width: 992px) {
      display: none;
    }

    a {
      font-family: Gilroy, sans-serif;
      font-size: 16px;
      line-height: 19px;
      color: #161616;
      margin-right: 45px;
      text-decoration: none;
    }

    select {
      width: 43px;
      height: 15px;
      border: none;
      appearance: none;
      cursor: pointer;
      background: transparent url("data:image/svg+xml,%3Csvg width='12' height='5' viewBox='0 0 8 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 4L0 0H8L4 4Z' fill='black'/%3E%3C/svg%3E%0A") no-repeat;
      background-position-x: 85%;
      background-position-y: 50%;
    }
  }
}
