@font-face {
  font-family: 'Gilroy';
  src: url('../../assets/fonts/Gilroy.eot');
  src: local('☺'), url('../../assets/fonts/Gilroy.woff') format('woff'), url('../../assets/fonts/Gilroy.ttf') format('truetype'), url('../../assets/fonts/Gilroy.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BN Chester Regular';
  src: url('../../assets/fonts/BN Chester Regular.eot');
  src: local('☺'), url('../../assets/fonts/BN Chester Regular.woff') format('woff'), url('../../assets/fonts/BN Chester Regular.ttf') format('truetype'), url('../../assets/fonts/BN Chester Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
