<div class="home">
  <div class="home-wrapper">
    <h1 class="home-title">{{'home.weCreate' | transloco}}</h1>
    <p>{{'home.ourTeam' | transloco}}</p>
    <button>{{'home.getStarted' | transloco}}</button>
  </div>
  <img src="assets/images/img.png">
</div>
<div class="about">
  <div class="container">
    <div class="title">
      <h1>{{'about.about' | transloco}}</h1><h1 class="right">{{'about.studio' | transloco}}</h1>
    </div>
    <div>
      <p>{{'about.interiart' | transloco}}</p>
      <p class="lower" [class.show-all]="showAbout">{{'about.ourTeam' | transloco}}</p>
      <button *ngIf="!showAbout" (click)="switchAbout()" class="more">{{'about.readMore' | transloco}}</button>
      <button *ngIf="showAbout" (click)="switchAbout()" class="hide">{{'about.hide' | transloco}}</button>
    </div>
  </div>
</div>
<div class="question">
  <div class="title">
    <h1>{{'question.doYouHave' | transloco}}</h1><h1 class="right">{{'question.anyQuestion' | transloco}}</h1>
  </div>
  <button>{{'question.order' | transloco}}</button>
</div>
