<div class="portfolio">
  <div class="container">
    <div class="portfolio-title">
      <h1>{{'portfolio.our' | transloco}}</h1><h1 class="right">{{'portfolio.portfolio' | transloco}}</h1>
    </div>
    <div class="portfolio-filter">
      <div class="left">
        <ng-container *ngFor='let category of PortfolioCategory'>
          <button [class.active]="activeTab === category.index" (click)="setActive(category.index)">{{category.category | transloco}}</button>
        </ng-container>
      </div>
      <button class="right" (click)="getMoreData()" *ngIf="!allCardLoad">{{'portfolio.viewMore' | transloco}}</button>
    </div>
    <div class="portfolio-gallery">
      <ng-container *ngFor='let gallery of portfolioGallery'>
        <div class="portfolio-gallery-photo">
          <img src="{{gallery.gallery}}">
        </div>
      </ng-container>
    </div>
    <div class="down">
      <button (click)="getMoreData()" *ngIf="!allCardLoad">{{'portfolio.viewMore' | transloco}}</button>
    </div>
  </div>
</div>
