.portfolio {
  background: #F4F4F4;
  padding: 189px 32px;

  @media (max-width: 414px) {
    padding: 189px 0 47px;
  }

  .container {
    max-width: 1170px;
    margin: 0 auto;

    .portfolio-title {
      display: flex;
      justify-content: center;
      margin-bottom: 85px;

      @media (max-width: 360px) {
        flex-direction: column;
        text-align: center;
      }

      h1 {
        font-family: BN Chester Regular, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 41px;
        letter-spacing: 0.005em;
        color: #161616;
        margin-right: 10px;

        @media (max-width: 360px) {
          margin-right: 0;
        }
      }

      .right {
        color: #D3A265;
        margin-right: 0;
      }
    }

    .portfolio-filter {
      display: flex;
      justify-content: space-between;
      margin-bottom: 28px;

      .left {
        display: flex;
        justify-content: space-between;
        max-width: 550px;
        width: 100%;

        @media (max-width: 414px) {
          padding: 0 16px;
        }
      }

      .active a {
        color: #D3A265;
      }

      button {
        font-family: Gilroy, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #161616;
        cursor: pointer;
        border: none;
        background: transparent;
        padding: 0;

        @media (max-width: 768px) {
          font-size: 13px;
          font-weight: 500;
        }

        @media (max-width: 414px) {
          font-size: 12px;
        }
      }

      .active {
        color: #D3A265;
      }

      .right {
        font-weight: 600;
        border-bottom: 1px solid #161616;
        padding: 0;

        @media (max-width: 768px) {
          display: none;
        }
      }
    }

    .portfolio-gallery {
      display: flex;
      flex-wrap: wrap;
      min-height: 660px;

      &-photo {
        max-width: 270px;
        width: 100%;
        max-height: 320px;
        border-radius: 10px;
        margin: 0 30px 20px 0;

        @media (max-width: 414px) {
          max-width: 414px;
          max-height: 270px;
          border-radius: 0;
          margin: 0 0 20px;
        }

        &:nth-child(4n) {
          margin-right: 0;

          @media (max-width: 1233px) and (min-width: 414px) {
            margin-right: 30px;
          }
        }

        img {
          width: 100%;
          height: 100%;

          @media (max-width: 414px) {
            max-width: 414px;
            max-height: 270px;
            object-fit: cover;
          }
        }
      }
    }

    .down {
      display: flex;
      justify-content: center;

      button {
        display: none;
        font-weight: 600;
        border: none;
        border-bottom: 1px solid #D3A265;
        background: transparent;
        font-family: Gilroy, sans-serif;
        font-style: normal;
        font-size: 16px;
        line-height: 14px;
        color: #161616;
        cursor: pointer;
        padding: 49px 0 5px;
        text-align: center;

        @media (max-width: 768px) {
          display: block;
        }
      }
    }
  }
}
