.footer {
  background: #F4F4F4;
  padding-top: 94px;

  &-wrapper {
    max-width: 1234px;
    margin: 0 auto;
    padding: 0 32px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 922px) {
      flex-wrap: wrap;
    }

    .footer-item {
      width: 30%;

      a {
        cursor: pointer;
      }

      @media (max-width: 922px) {
        width: 50%;

        &:nth-child(2n) {
          display: flex;
          justify-content: right;
        }
      }

      @media (max-width: 360px) {
        width: 100%;

        &:nth-child(2n) {
          justify-content: left;
          margin-bottom: 30px;
        }
      }

      .footer-logo {
        margin-bottom: 60px;
        width: 137px;
        height: 23px;

        @media (max-width: 360px) {
          margin-bottom: 30px;
        }
      }

      p {
        font-family: Gilroy, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 170%;
        color: #161616;
        margin: 0 0 115px;
        max-width: 300px;
        height: 96px;

        @media (max-width: 922px) {
          display: none;
        }
      }

      &-right {
        font-family: Gilroy, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #161616;

        @media (max-width: 922px) {
          display: none;
        }
      }

      &-right {
        font-family: Gilroy, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #161616;

        @media (max-width: 922px) {
          display: none;
        }
      }

      h1 {
        font-family: Gilroy, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        color: #161616;
        margin-bottom: 24px;
      }

      &-title {
        @media (max-width: 922px) {
          display: none;
        }
      }

      nav {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;

        .active a {
          color: #D3A265;
        }

        .footer-link {
          margin-bottom: 20px;
        }

        a {
          text-decoration: none;
          font-family: Gilroy, sans-serif;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #161616;
        }

        @media (max-width: 922px) {
          display: none;
        }
      }

      .footer-icon {
        margin-right: 16px;
        cursor: pointer;

        @media (max-width: 922px) {
          &:last-child {
            margin-right: 0;
          }
        }
      }

      .footer-inner {
        margin-bottom: 48px;

        h2 {
          font-family: Gilroy, sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 150%;
          color: #878787;
          margin-bottom: 14px;
        }

        &-contact {
          font-family: Gilroy, sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
          color: #161616;
        }
      }
    }

    .footer-right {
      display: none;
      font-family: Gilroy, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #161616;

      @media (max-width: 922px) {
        display: unset;
        width: 100%;
      }
    }
  }
}
