.pricing {
  padding: 189px 32px;
  text-align: center;

  &-title {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;

    h1 {
      font-family: BN Chester Regular, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 41px;
      letter-spacing: 0.005em;
      color: #161616;
      margin-right: 10px;
    }

    .right {
      color: #D3A265;
    }
  }

  &-inner {
    display: flex;
    justify-content: center;

    @media (max-width: 992px) {
      display: grid;
    }

    .pricing-item {
      max-width: 270px;
      width: 100%;
      height: 448px;
      background: #FDFBF8;
      border: 2px solid #D3A265;
      border-radius: 10px;
      text-align: center;
      padding: 32px 0 0;
      margin-right: 82px;

      @media (max-width: 992px) {
        padding-top: 27px;
        margin: 0 130px 29px 0;
        height: 324px;
      }

      &:nth-child(2n) {
        background: #D3A265;

        h2 {
          color: #FFFFFF;
        }

        .price-container {
          .price {
            color: #FFFFFF;
          }

          span {
            color: #FFFFFF;
          }
        }

        hr {
          border: 1px solid #FFFFFF;
          border-bottom: transparent;
        }

        p {
          color: #FFFFFF;
        }
      }

      &:nth-child(3n) {
        margin-right: 0;
      }

      h2 {
        font-family: BN Chester Regular, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 23px;
        color: #161616;
        margin-bottom: 31px;
      }

      .price-container {
        @media (max-width: 992px) {
          display: flex;
          justify-content: center;
        }

        .price {
          font-family: BN Chester Regular, sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 44px;
          line-height: 43px;
          color: #161616;
          margin-bottom: 7px;

          @media (max-width: 992px) {
            font-size: 28px;
            line-height: 27px;
            margin-right: 14px;
          }
        }

        span {
          font-family: BN Chester Regular, sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 17px;
          color: #161616;
          margin-bottom: 27px;

          @media (max-width: 992px) {
            font-size: 16px;
            line-height: 16px;
            color: #BBBBBB;
            padding-top: 5px;
          }
        }
      }

      hr {
        max-width: 194px;
        border-top: 1px solid #DCD1BB;
        border-bottom: transparent;
        color: #DCD1BB;
        margin: 27px auto;

        @media (max-width: 992px) {
          margin: 0 auto 24px;
        }
      }

      p {
        font-family: Gilroy, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        color: #161616;
        margin-bottom: 8px;

        @media (max-width: 992px) {
          font-size: 14px;
        }

        &:nth-child(7n) {
          margin-bottom: 54px;

          @media (max-width: 992px) {
            margin-bottom: 29px;
          }
        }
      }

      button {
        max-width: 141px;
        width: 100%;
        height: 48px;
        background-color: #FFFFFF;
        border: 2px solid #D3A265;
        border-radius: 8px;
        font-family: Gilroy, sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        cursor: pointer;

        @media (max-width: 992px) {
          max-width: 100%;
          background-color: #D3A265;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border-top: 1px solid #FDFBF8;
          color: #FFFFFF;
        }

        &:hover {
          color: #D3A265;
        }
      }
    }
  }
}
